.env
/devices/devices.json

# Compiled binary
/ssh-fetcher
/ssh-fetcher.exe

# Folders with results and logs.
/backups/
/logs/

# macOS system files
.DS_Store

# IDE files (VSCode, GoLand)
.vscode/
.idea/